<div class="card text-white bg-dark mb-3" style="width: 100%;">
  <div class="card-header"><strong><%=title%></strong></div>
  <% if user_signed_in? %>
    <div id="<%=status%>" class="card-body d-flex flex-column gap-3">
          <% @tasks.select{ |t| t.status == status }.each do |task| %>
              <%=render task%>
          <%end%>
    </div>
  <% end %>
</div>