<% content_for :title, "Tasks" %>

<h1>Tasks</h1>
<div id="tasks">
  <div class="d-flex flex-direction-row gap-3 p-2">
    <%= render partial: "card", locals: {status: "to_do", title: "To Do"} %>
    <%= render partial: "card", locals: {status: "in_progress", title: "In Progress"} %>
    <%= render partial: "card", locals: {status: "done", title: "Done"} %>
  </div>
</div>

<% if user_signed_in? %>
  <%= button_to new_task_path,
  method: :get, 
  class: "bg-warning rounded-circle position-fixed bottom-0 end-0 m-4 btn-lg", style: "width: 60px; height: 60px; z-index: 1050;",
  data: { turbo_frame: "modal" } do %>
    <i class="bi bi-plus-lg"
    ></i>

  <% end %>
<% end %>