<% content_for :title, "New task" %>

<h1>New task</h1>

<main class="container">
  <%= link_to "Back to tasks", tasks_path %>

  <%= turbo_frame_tag "modal" do %>
    <div class="modal-body">
      <%= render "tasks/form", task: @task %>
    </div>
  <% end %>
</main>